<template>
    <require from="./app.css"></require>

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Math Game</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="#">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <router-view></router-view>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p></p>
                </div>
            </div>

        </div>

    </div>
</template>


