<template>

    <h1>Let's Play <span class="fa faa-tada animated fa-exclamation"></span></h1>
    <br />
    <form class="form-horizontal">
        <div class="form-group" >
            <div class="col-sm-12">
                <a href="#/rightOrWrong" class="btn btn-default btn-lg">
                    <span class="fa fa-thumbs-o-up"></span>
                    Right or Wrong
                    <span class="fa fa-thumbs-o-down"></span>
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <a href="#/guessTheAnswer" class="btn btn-default btn-lg">
                    Guess the answer
                    <span class="fa fa-edit"></span>
                </a>
            </div>
        </div>
    </form>

</template>
